@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Linkedin profile is <a href="https://www.linkedin.com/in/erdi-yaman-a6b659211/">there.</a></p>
</div>
