@{
    ViewData["Title"] = "CubeGames assignment task";
}
<h1>@ViewData["Title"]</h1>

<p>
    You can reach the repo of the project from the link below.
</p>
<br />
<p>Examine to application source code from public github repo. <a href="https://github.com/erdymn" target="_blank">Made by Erdi Yaman using ASP .NET CORE MVC</a>.</p>
